@import "Extern/reset.css";
@import "Extern/Roboto.css";

:root {
    --serif-family: 'Merriweather', serif;
    --sans-family: 'Roboto', sans-serif;
    --mono-family: 'Roboto Mono', monospace;
    --tool-font-size: 10pt;
    --primary-color: 245, 245, 245;
    --accent-color: 223, 163, 252;
    --tertiary-color: 163, 249, 252;
    --element-color: 60, 57, 75;
    --background-color: 41, 41, 41;
    --vox-color: var(--accent-color);
    --gap: 5px;
    --minor-border-radius: 5px;
    --major-border-radius: 20px;
    --scrollbar-width: 10px;
    --scrollbar-opacity: 0.9;
}


html, body, #app-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    overflow: hidden;
}
